<!DOCTYPE html>
<html xmlns: xmlns:th="http://thymeleaf.org">
<head>
    <title>My Code Blog</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Icons Google API-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    
</head>

<body>

<header>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">My Code Blog</span>

    </nav>

</header>
<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                <li class="breadcrumb-item" aria-current="page"><a href="/posts">Posts</a></li>
                <li class="breadcrumb-item active" aria-current="page">Novo Posts</li>
            </ol>
        </nav>

        <div>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="titulo" placeholder="Titulo *">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="autor" placeholder="Autor *">
                </div>

                <textarea type="text" class="form-control" name="texto" placeholder="Texto *"></textarea>

                <small class="form-text text-muted">(*) Required</small>

                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Publicar</button>
                <a href="/post" class="btn btn-light" role="button" style="margin-top: 10px;">Cancelar</a>

            </form>
        </div>

    </div>
</section>
</body>
</html>